{% extends 'base.html' %}
{% block title %}
    Users Page
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4 text-primary">Users Page</h2>
    <h5 class="mb-4 text-success">{{count}} record(s)</h5>
    <div class="table-responsive shadow-sm border rounded bg-light p-3">
        <table class="table table-hover align-middle">
            <thead class="table-primary">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">City</th>
                    <th scope="col">Hobby</th>
                    <th scope="col" class="text-end">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[3] }}</td>
                    <td>{{ user[4] }}</td>
                    <td class="text-end">
                        <form action="{{ url_for('user_profile', id=user[0]) }}" method="get" style="display:inline-block; margin-right:5px;">
                            <button class="btn btn-info btn-sm">Detail</button>
                        </form>
                        <form action="{{ url_for('update_user', id=user[0]) }}" method="get" style="display:inline-block; margin-right:5px;">
                            <button class="btn btn-success btn-sm">Update</button>
                        </form>
                        <form action="{{ url_for('delete_user', id=user[0]) }}" method="post" style="display:inline-block;">
                            <button class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this user?');">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
